<!DOCTYPE html>
<head>
    <img src="{{ user_image }}"
         alt="HSD Logo"
         height="195px"
         width="365px"
         align="right">
    <meta charset="utf-8" />
</head>
<body>
    <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
				<h1 style="font-family:Helvetica;color:red;font-size:40px;">Earthquake Detector</h1>
				<p style="font-family:Helvetica;color:black;font-size:25px;">Hey Coding Party People, we are Team 1</p>
			</div>
			<br />
			<br />
		</section>

    <!-- One -->
        <section id="one" class="wrapper style3 fade-up">
		    <div class="inner">
                <h2 style="font-family:Helvetica;color:black;font-size:20px;">Earthquake Detector</h2>
                <p style="font-family:Helvetica;color:black;font-size:15px;">Have Fun using our great and intuitive Earthquake Detector.</p>
                <div class="split style1">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="location"
                                           style="font-family:Helvetica;color:black;font-size:15px;">Location
                                    </label>
                                    <input type="text" name="location" id="location" />
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </section>
</body>
