<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Earthquake Detector</title>
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/76/20150501_HSD_Logo_rot_transparent.png"
         alt="HSD Logo"
         height="195px"
         width="365px"
         align="right">
    <meta charset="utf-8" />
</body>
<body>
    <h1 style="font-family:Helvetica;color:red;font-size:40px;margin-left:0.5em;">Earthquake Detector</h1>
    <p style="font-family:Helvetica;color:black;font-size:25px;margin-left:0.8em;">Hey Coding Party People, we are Team 1</p>
    <p style="font-family:Helvetica;color:black;font-size:15px;margin-left:1.5em;">Have Fun using our great and intuitive Earthquake Detector.</p>
    <br />
      <div class="field half">
        <label for="location"
               style="font-family:Helvetica;color:black;font-size:15px;margin-left:1.4em;">Location
        </label>
        <input type="text" name="location" id="location" />
        <label for="radius"
               style="font-family:Helvetica;color:black;font-size:15px;margin-left:1.4em;">Radius
        </label>
        <input type="text" name="radius" id="radius" />
        <label for="frequency"
               style="font-family:Helvetica;color:black;font-size:15px;margin-left:1.4em;">Update Frequency
        </label>
        <input type="text" name="frequency" id="frequency" />
          <br />
          <br />
    </div>
    <iframe class="map", src="/map" width=100% height="600"></iframe>
</body>
</html>